/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #FF0070;
  --text-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --header-decor: inline-flex;
  --accent-color-hover: rgb(255, 0, 112, 0.4);
  --accent-main-color: #FF0070;
}