/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--main-font);
  background-image: var(--bg-image);
  font-size: var(--font-size);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}