/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', monospace;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #FF0070;
  --text-color: #000028;
  --font-size: 18px;
  --font-weight: 400;
  --big-font-weight: 700;
  --bg-image: url(../images/cover-image-dark.png);
  --line-height: 23.4px;
  --mobile-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --desktop-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
}
